# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
name: Build and deploy Node.js app to Azure Web App - Orchid-backend
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json
      - name: Install dependencies
        run: npm install
      - name: Zip artifact for deployment
        run: zip -r ../backend-deploy.zip . -x "node_modules/*" -x ".git/*"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-backend
          path: backend-deploy.zip
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-backend
      - name: Unzip artifact
        run: unzip backend-deploy.zip -d backend
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_EDDF8165AF43476881F17236BA1E7740 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_853DFE9E92054423AEB62189D4637C2A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9DF3BA9DFB7A443285B841C6276FF0AF }}
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: Orchid-backend
          package: backend

          
